#dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem calc(100vh - 4rem);
}

body>div {
  background-color: var(--color-background);
}

.topbar {
  z-index: 3;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 20px;
  align-content: center;
  box-shadow: #0000003d 0 4px 2px -2px;
}

.topbar .topbar-logo {
  /* width: 14rem; */
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.topbar .topbar-logo img {
  width: 65px;
}

.topbar .topbar-logo h3 {
  font-weight: bold;
  font-size: 20px;
}

.topbar .topbar-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.6rem;
}

.topbar .topbar-actions .dropdown .dropdown-menu {
  left: -20rem;
  width: 20rem;
}

.topbar .topbar-actions .dropdown .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.topbar .topbar-actions .short-profile {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 0.8rem;
  margin: 1rem auto;
}

.topbar .topbar-actions .short-profile img {
  width: 8rem;
  height: 8rem;
  margin: auto;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #efefef;
  object-fit: cover;
  background-color: #efefef;
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

.main {
  display: grid;
  grid-template-columns: 14vw auto;
}

/***************** sidebar *****************/
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: #0000003d 4px 0 2px -2px;
  padding-top: 0.8rem;
  overflow: auto;
  z-index: 3;
}

.sidebar h3 {
  font-weight: 500;
  margin: 0;
}

.sidebar .sidebar-item {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 1.5rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

.sidebar .sidebar-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.sidebar .sidebar-item.active:hover {
  cursor: auto;
}

.sidebar .sidebar-item span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.sidebar .sidebar-item:hover span {
  margin-left: 0.8rem;
}

.sidebar .sidebar-item.active:hover span {
  margin-left: 0;
}

.sidebar .sidebar-item.active {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

.sidebar .sidebar-item.active::before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}

.sidebar .sidebar-item.active span {
  color: var(--color-primary);
}


.sidebar .sidebar-item .news-badge {
  font-size: 10px;
  color: #fff;
  top: 18px;
  left: 20px;
  width: 8px !important;
  height: 8px !important;
}
.sidebar .sidebar-item.active .news-badge {
  left: 42px;
  transition: all 300ms ease;
}

.badge:empty {
  display: block;
}
.sidebar .sidebar-item .badge.show {
  display: block;
}
.sidebar .sidebar-item .badge.hide {
  display: none;
}

#tab-content {
  padding: 20px 25px;
  overflow: auto;
}

#tab-content.show {
  display: grid;
}

#tab-content.hide {
  display: none;
}

#tab-content .tab-form h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #5a5a5a;
}

#tab-content .tab-form {
  width: 80%;
  margin: 30px auto;
  padding: 20px 50px;
  border-radius: 0.75rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius-2);
  box-shadow: #00000040 0px 0.0625em 0.0625em, #00000040 0px 0.125em 0.5em, #ffffff1a 0px 0px 0px 1px inset;
}

.status[value="done"] {
  color: var(--color-success);
}

.status[value="in-progress"] {
  color: var(--color-warning);
}

.status[value="stoped"], .status[value="canceled"] {
  color: var(--color-danger);
}

.status[value="waiting"] {
  color: var(--secondary);
}

@media (max-width: 978px) {
  .sidebar .sidebar-item h3 {
    display: none;
  }
  .main {
    grid-template-columns: 68px auto;
  }
}

.select-group-tabs-items .select-group-tabs-item {
  border: 1px solid #dedede;
  padding: 0 15px;
  border-radius: 0.25rem;
}

.tab-view-tab-item {
  display: none;
  animation: fadeEffect 1s;
}
.tab-view-tab-item.selected {
  display: block;
}

.currency-price {
  font-size: 16px;
  font-weight: bold;
}

.modal#images-preview-modal {

  padding: 10px 15px;
  background-color: transparent;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.modal#images-preview-modal.show {
  display: grid;
}

.modal#images-preview-modal .modal-dialog {
  min-width: 100%;
  height: 100%;
  margin: auto;
}

.modal#images-preview-modal .modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  margin: 0;
}
.modal#images-preview-modal .modal-dialog .modal-body {
  padding: 0 10px;
}

#images-preivew-carousel img {
  max-height: 72vh;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

#images-preivew-carousel a.carousel-control-prev {
  background: linear-gradient(to right, #222A, #cccD);
  border-radius: 10px 0 0 10px;
}
#images-preivew-carousel a.carousel-control-next {
  background: linear-gradient(to left, #222A, #cccD);
  border-radius: 0 10px 10px 0;
}

#notifications-dropdown button span.badge.show {
  display: block;
}
#notifications-dropdown button span.badge.hide {
  display: none;
}
#notifications-dropdown .dropdown-menu {
  width: 25rem;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}
#notifications-dropdown .notification-item {
  display: grid;
  gap: 2px;
  grid-template-columns: min-content auto 20%;
  justify-items: center;
  align-items: center;
  margin: 5px;
  background-color: #efefef;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#notifications-dropdown .notification-item:hover {
  cursor: pointer;
  background-color: #d7d7d7;
}
#notifications-dropdown .notification-item .image {
  width: 60px;
  padding: 0 5px;
}
#notifications-dropdown .notification-item .content {
  width: 100%;
}
#notifications-dropdown .notification-item .content .title {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}
#notifications-dropdown .notification-item .content .message {
  margin: 0px;
  font-size: 11px;
}
#notifications-dropdown .notification-item .date {
  font-size: 10px;
  text-align: center;
}

#loading-dialog-modal .modal-dialog {
  margin: auto;
  width: 35vw;
}
#loading-dialog-modal .modal-body {
  display: flex;
  align-items: center;
}
#loading-dialog-modal .modal-body span.spinner-border {
  margin: 0 1rem;
  width: 30px;
  height: 30px;
}
#loading-dialog-modal .modal-body span.dialog-message {
  font-size: 16px;
}
